


/*Put CSS stuff here plzzze*/

#pane {

    -fx-background-image: url("/img/gameImage.jpg");
    -fx-graphic: url('/img/gameImage.jpg');
    -fx-background-repeat: stretch;
    -fx-background-size: 500 400;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);

}